@media (max-width: 1200px) {
    
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .edge__icons {
        margin: 60px 7px;
    }
    .promo {
        padding: 5px;
    }
    .consultation {
        padding: 200px;
    }
}
@media (max-width: 575px) {

}