@media (max-width: 1200px) {
    .container {
        width: 700px;
    }
    .promo {
        min-width: 1199px;
    }
    .edge {
        width: 814px;
    }
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}