@font-face {
    font-family: 'Suisse Intl';
    src: url('./assets/fonts/SuisseIntl-Regular.eot');
    src: url('./assets/fonts/SuisseIntl-Regular.eot') format('embedded-opentype'),
      url('./assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('./assets/fonts/SuisseIntl-Regular.woff') format('woff'),
      url('./assets/fonts/SuisseIntl-Regular.ttf') format('truetype'),
      url('./assets/fonts/SuisseIntl-Regular.svg') format('svg');
  }
  
  body {
    margin: 0;
    font-family: 'Suisse Intl', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.2px;
    background-color: #f7f5fa !important;
  }

.container {
  max-width: 100%;
  padding: 10.31em 2em 2.25em;
}

.card {
  margin-right: 0.25em;
  height: 1134px;
  width: 357px;
  border-radius: 2em!important;
  &:last-child{
    margin-right: 0;
  }
  &-group{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  &-body { 
    padding: 0;
  }
  &-title {
    min-height: 136px;
    padding: 32px 0 0 24px;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 0;
  }
  &-footer { 
    min-height: 96px;
    padding: 24px 0 0 29px;
    background: #13AF72;
    font-size: 40px;
    line-height: 120%;
  }
  &-descr {
    min-height: 339px;
    padding: 32px 0 0 24px;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    &-out {
      font-size: 16px;
      line-height: 19px;
      padding-top: 8px;
      &-colum{
        padding-left: 24px;
        padding-top: 8px;
        &-1 {
          margin-bottom: 26px;
        }
        &-2 {
          margin-bottom: 49px;
        }
        &-3 {
          margin-bottom: 111px;
        }
        &-4 {
          margin-bottom: 47px
        }
        &-5 {
          margin-bottom: 26px;
        }
        &-6 {
          margin-bottom: 29px;
        }
        &-7 {
          margin-bottom: 92px;
        }
        &-8 {
          margin-bottom: 48px;
        }
        &-9 {
          margin-bottom: 26px;
        }
        &-10 {
          margin-bottom: 49px;
        }
        &-11 {
          margin-bottom: 34px;
        }
        &-12 {
          margin-bottom: 29px;
        }
      }
    }
  }
  &-invisible {
    max-width: 219px;
    background-color: transparent;
    border: none;
    margin-top: 571px;
  }
  &-line { 
    width: 1820px;
    z-index: 1;
    margin: 0;
  }
  
}
.text-muted {
  color: #FFFFFF!important;
}
.card-group-mobile{
  display: none
}
.card-descr-hidden {
  display: none
}
@import 'media.scss';


  


