.modal {
    &-content { 
        min-width: 960px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        background-color: #202332;
        color: #ffffff;
        max-height: 100%;
        border-radius: 15px;
        border-color: #7185CE;
    }
    &-flex { 
        display: flex;
        justify-content: space-between;
        &_1 { 
            display: flex;
            justify-content: left;
        }
        &_2 { 
            display: flex;
            justify-content: left;
        }
    }
    &-header { 
        border-bottom: 1px solid #343a40;
    
    }
    &-footer { 
        border-top: 1px solid #343a40;
    }
    &-title { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}



