* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.main-background { 
    background: url(../image/Background.jpg) center (center/cover) no-repeat;
    min-height: 100vh;
}

@import 'base/variables';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/tasks';
